*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: sans-serif;
}

#Root {
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none;
}

.App {
  text-align: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
ul.list li {
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px 0;
}
ul.list p {
  margin-bottom: 20px;
}
.btn {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid orange;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  background-color: orange;
}
/*  header  */
.header nav {
  background-color: rgb(43, 137, 226);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header nav a {
  color: #fff;
  font-weight: 600;
}
